$viewport-s: 37.5em;

.site-header {
  display: flex;
  justify-content: space-between;
  margin: 21px 0 144px;
  align-items: center;
}

.logo {
  font-weight: 700;
}

.main-menu-toggle {
  display: none;
}

.main-menu {
  display: flex;
  gap: 1rem;
}

@media screen and (width <= $viewport-s) {
  .main-menu-toggle {
    display: initial;
  }
  button[aria-expanded="false"] + ul {
  display: none;
  }
  .main-menu {
    flex-direction: column;
    // align-items: stretch;
    justify-content: space-between;
    position: absolute;
    inset: 0;
    text-align: center;
    padding: 1rem;
    
    & > li + li {
      border: 1px solid red;
    }
  }
}